.CustomDividerBlock {
  position: relative;
  z-index: 99999;
  margin-top: -20vh;
  max-width: 100%;
}

.CustomDividerBlock svg {
    max-width: 100%;
}

@media screen and (max-width: 900px) {

  .CustomDividerBlock {
    margin-top: -18vh;
    z-index: 99;
  }
}

@media screen and (max-width: 800px) {

  .CustomDividerBlock {
    margin-top: -22vh;
  }
}

