.ContainerBannerStacks {
  display: flex;
}

.ContainerBannerStacks img {
  width: 100%;
}

.titleBannerStack {
  display: flex;
  height: 545px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.299);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.titleBannerStack > p {
  font-size: 2rem;
  color: #fff;
}
