.ContainerBannerStacks {
  display: flex;
}

.ContainerBannerStacks img {
  width: 100%;
}

.titleBannerStack {
  display: flex;
  height: 545px;
  width: 100%;
  background-image: url('/img/stack-banner-bg.png');
  background-repeat:no-repeat;
  background-position: center center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleBannerStack > p {
  font-size: 2rem;
  color: #fff;
}
