.ContainerSectionStacks {
  display: block;
  text-align: center;
}

.ContainerSectionStacks > h2 {
  color: #fff;
}

.ContainerSectionStacks > p {
  color: #fff;
}

.ContainerStacksAndSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.BlockStack {
  width: 160px;
  height: 165px;
  margin: 10px;
  border-bottom: 10px solid #ffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s;
}

/* .BlockStack:hover {
  transform: translate(10px, -5px);
  border: 2px solid #ffffff93;
} */

.containerStackTexts {
  width: 80%;
  color: #fff;
  margin: 0 auto;
}

.BlockStack > svg{
  margin: 15px 0 0 0;
}

.BlockStack > h2{
  color: #fff;
  margin: 10px 0 0 0;
}

.hidingStacks {
  display: flex;
  width: 100%;
  height: 200px;
  margin: -23vh 0 0 0;
  position: absolute;
  background: rgb(10,16,30);
  background: linear-gradient(0deg, rgba(10,16,30,1) 0%, rgba(10,16,30,1) 72%, rgba(10, 16, 30, 0) 100%);
  justify-content: center;
  align-items: center;
}

.hidingStacks button {
  display: flex;
  width: 15%;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #1573FF;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.hidingStacks button:hover {
  box-shadow: -5px 5px 10px #3e70fcc7;
  transform: translate(10px, -5px);
}


@media screen and (max-width: 850px) {
  .ContainerStacksAndSkills {
    width: 100%;
  }

  .hidingStacks button {
    width: 30%;
  }

}
